/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
}

/* BACKGROUND */
.main-bg {
    background-color: #161824
}

/* HERO GRADIENT TEXT */
.hero-gradient {
    background: linear-gradient(to right, #fdbfb5, #edabc9, #d3c8e3, #9ec9ec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MAIN WRAPPER */
.profile-border {
    position: relative;
    border-radius: 50%;

    /* floating */
    animation: float 4s ease-in-out infinite;

    /* subtle white glow */
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.15);
}

/* ROTATING GRADIENT RING */
.profile-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background: linear-gradient(
        45deg,
        #fbcabb,
        #edabc9,
        #d6b5d4,
        #9ec9ec
    );

    animation: spin 3s linear infinite;

    z-index: 0;
}

/* INNER CONTENT */
.profile-border > div {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}

/* IMAGE */
.profile-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ROTATION */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* FLOATING */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*------------------------------ABOUT PAGE------------------------------*/

/* ABOUT TEXT */
.about-text {
    color: white/70;
}


/*------------------------------STACK PAGE------------------------------*/

/* GRADIENT RING */
.stack-ring {
    background: linear-gradient(
        45deg,
        #fbcabb,
        #edabc9,
        #d6b5d4,
        #9ec9ec
    );

    box-shadow:
        0 0 10px rgba(255,255,255,0.08);

    transform-style: preserve-3d;

    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

/* INNER DARK CIRCLE */
.stack-inner {
    background: #161824;
}

/* HOVER EFFECT */
.stack-ring:hover {

    animation: rotateYRing 2.5s linear infinite;

    transform: translateY(-5px) scale(1.05);

    box-shadow:
        0 0 15px rgba(255,255,255,0.15),
        0 0 30px rgba(237,171,201,0.25);
}

/* Y AXIS ROTATION */
@keyframes rotateYRing {

    from {
        transform:
            translateY(-5px)
            scale(1.05)
            rotateY(0deg);
    }

    to {
        transform:
            translateY(-5px)
            scale(1.05)
            rotateY(360deg);
    }

}

/*------------------------------CERTIFICATIONS PAGE------------------------------*/



.cert-card:hover{
    transform: translateY(-10px);
}

/* ========================= */
/* IMAGE CONTAINER */
/* ========================= */

.cert-img-bg{
    position: relative;

    padding: 0;

    width: 100%;

    cursor: pointer;
}

/* OFFSET LAYER */

.cert-img-bg::after{
    content: "";

    position: absolute;

    top: 12px;
    left: 12px;

    width: 100%;
    height: 100%;

    z-index: 0;
}

/* IMAGE */

.cert-img-bg img{
    position: relative;

    z-index: 2;

    width: 100%;

    transition: 0.35s ease;

    box-shadow:
        0 8px 30px rgba(0,0,0,0.35);
}

/* IMAGE HOVER */

.cert-img-bg:hover img{
    transform: scale(1.03);
}

/* IMAGE CLICK ENLARGE */

.cert-img-bg img:active{
    transform: scale(1.18);
    z-index: 50;
}

/* ========================= */
/* WORD */
/* ========================= */

.cert-word::after{
    background: linear-gradient(
        to bottom,
        #fbcabb,
        #ec9cb4
    );
}

/* ========================= */
/* PPT */
/* ========================= */

.cert-ppt::after{
    background: linear-gradient(
        to bottom,
        #ec9cb4,
        #bfb0d3
    );
}

/* ========================= */
/* JAVA */
/* ========================= */

.cert-java::after{
    background: linear-gradient(
        to bottom,
        #a88fcc,
        #89bce5
    );
}



/* ========================= */
/* BUTTONS */
/* ========================= */

.copy-btn{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px;

    border-radius: 18px;

    transition: 0.3s ease;
}

.verify-btn{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;

    border-radius: 18px;

    color: white;

    transition: 0.3s ease;
}

/* VERIFY HOVER */

.verify-btn:hover{
    transform: scale(1.05);

    box-shadow:
        0 0 15px rgba(255,255,255,0.35);
}

/* ========================= */
/* WORD BUTTONS */
/* ========================= */

.copy-word{
    color: #fbcabb;

    box-shadow:
        0 0 0 2px #fbcabb;
}

.copy-word:hover{
    background: linear-gradient(
        to bottom,
        #fbcabb,
        #ec9cb4
    );

    color: #070b1d;
}

.verify-word{
    background: linear-gradient(
        to bottom,
        #fbcabb,
        #ec9cb4
    );
}

/* ========================= */
/* PPT BUTTONS */
/* ========================= */

.copy-ppt{
    color: #ec9cb4;

    box-shadow:
        0 0 0 2px #ec9cb4;
}

.copy-ppt:hover{
    background: linear-gradient(
        to bottom,
        #ec9cb4,
        #bfb0d3
    );

    color: #070b1d;
}

.verify-ppt{
    background: linear-gradient(
        to bottom,
        #ec9cb4,
        #bfb0d3
    );
}

/* ========================= */
/* JAVA BUTTONS */
/* ========================= */

.copy-java{
    color: #89bce5;

    box-shadow:
        0 0 0 2px #89bce5;
}

.copy-java:hover{
    background: linear-gradient(
        to bottom,
        #a88fcc,
        #89bce5
    );

    color: #070b1d;
}

.verify-java{
    background: linear-gradient(
        to bottom,
        #a88fcc,
        #89bce5
    );
}