/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
}

/* BACKGROUND */
.main-bg {
    background-color: #161824
}

/* HERO GRADIENT TEXT */
.hero-gradient {
    background: linear-gradient(to right, #fdbfb5, #edabc9, #d3c8e3, #9ec9ec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PROFILE BORDER */
.profile-border {
    background: linear-gradient(to right, #fdbfb5, #edabc9, #d3c8e3, #9ec9ec);
}

.home-text {
    color: #ffffff/10;
}

/* BASE ICON */
.github-icon img {
    transition: all 0.3s ease;
}

/* white glow + smooth transition */
.github-icon svg {
    filter: drop-shadow(0 0 0px rgba(255,255,255,0));
}

/* hover effect */
.github-icon:hover svg {
    filter:
        drop-shadow(0 0 6px rgba(255,255,255,0.6))
        drop-shadow(0 0 12px rgba(255,255,255,0.4));
}


/* ABOUT TEXT */
.about-text {
    color: white/70;
}