
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}

body#page-home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 25%, #9b3635 0%, #831616 40%, #5c0808 70%, #2c0404 100%);
    color: white;
    align-items: center;
    justify-content: center;
}

.hero{
    max-width: 100%;
    padding: 50px 100px 100px 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header image footer";
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.left-header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right{
    grid-area: image;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.left-footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-header h2{
    font-size:30px;
    font-weight:400;
    letter-spacing:2px;
    color:#f5bc74;
    margin-bottom:3px;
    text-align: center;

}

.left-header h1{
    display: flex;
    font-size: clamp(36px, 8vw, 90px);
    font-weight:450;
    letter-spacing:4px;
    color:#ffd236;
    margin-bottom:25px;
    text-align: center;
    justify-content: center;

}

.left-footer p{
    font-size:25px;
    line-height:1.6;
    margin-bottom:25px;
    text-align: center;
}

.github {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition:0.3s;
    
}

.github-icon:hover {
    fill:#ffd53c;
}
.github-icon{
    fill: white;
    width: 50px;
    height: 50px;
    display: block;
}

.right{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.right img{
    width:100%;
    max-width:420px;
    height:auto;
}

.dock{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: clamp(20px, 8vw, 100px);
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;

}

.dock a{
    text-decoration:none;
    color:#e3b2b2;
    font-weight:600;
    letter-spacing:2px;
    text-align: center;
}

.dock a.active{
    color:white;
}

.dock a:hover{
    color:#ffd236;
    transform: scale(1.1);
    
}

/* hide icons on desktop */
.dock .dock-icon{
    display: none;
}

.dock-text{
  display: inline;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
    .hero {
        padding: 40px 50px 80px 50px;
    }
    
    .container {
        gap: 40px;
    }

    .left h2 {
        font-size: 24px;
    }
    
    .left h1 {
        font-size: 60px;
    }
    
    .left p {
        font-size: 20px;
    }
    
    .github-icon{
        width: 30px;
        height: 30px;
    }

    
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {

    .hero{
        padding: 30px 20px 60px 20px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header"
            "image"
            "footer";
        
        gap: 15px;
        text-align: center;
    }

    .left-header{
        grid-area: header;
        grid-column: 1/3;
    }

    .left-header h1{
        margin-bottom: 0px;
    }

    .right{
        grid-area: image;
        grid-column: 1/3;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .right img{
        width:100%;
        max-width:300px;
        height:auto;
    }

    .left-footer{
        grid-area: footer;
        grid-column: 1/3;
        max-width:350px;
    }

    .left-header h2{
        font-size:20px;
    }

    .left-header h1{
        font-size:48px;
    }

    .left-footer p{
        font-size:15px;
        margin-bottom:10px;

    }

    .github-icon{
        width:30px;
        height:auto;
    }

    .dock{
        flex-wrap:nowrap;
        bottom:20px;
        line-height: 1;
        
        
    }

    .dock a{
        font-size:14px;
        padding:8px 12px;
    }

    .dock .dock-text{
        display:none;
    }

    .dock .dock-icon{
        display:inline-block;
        font-size:26px;
    }

}
/* Small mobile (max-width: 480px) */
@media (max-width: 480px) {

    .left-header h1 {
        font-size: 36px;
    }

    .left-footer p {
        font-size: 16px;
    }

    .dock {
        gap: 8px;
    }

    .dock a {
        font-size: 12px;
    }

}

/*-----------------------------------------------ABOUT PAGE-----------------------------------------------*/

body#page-about{
    margin: 0;
    padding: 0;

    background-image: url("images/Gingham-smaller.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.about-hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "p1 p2";

    gap: 20px;
    background-color: rgba(169, 197, 201, 0.9);
    margin: 0 clamp(30px, 8vw, 150px);
    min-height: 100vh;

    /* KEY FIX */
    align-content: center;
    padding-bottom: 15vh;
    
}


.about-title{
    grid-area: title;

    font-size: clamp(36px, 8vw, 90px);
    font-weight:1000;
    letter-spacing:5px;
    color:#ffd236;
    text-shadow: 5px 7px #b7322a; 
    text-align: center;
    
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-p1{
    grid-area: p1;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.6;
    padding: 30px 30px 30px 90px;

}

.about-p2{
    grid-area: p2;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.6;
    padding: 30px 90px 30px 30px;

}

.about-p1,
.about-p2{
    line-height:1.6;
    text-align: justify;

}


.about-dock{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: clamp(20px, 8vw, 100px);
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;

}
     
.about-dock a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.about-dock a.active{
    color:#b7322a;
    font-weight: 800;

}


.about-dock a:hover{
    color:#ffd53c;
    transform: scale(1.1);
    
}
.about-dock .dock-icon{
    display: none;
}




@media (max-width: 768px){

    .about-hero{
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "p1"
            "p2";
        padding-bottom: 100px;
        grid-template-rows: auto;
        align-items: center;
    }

    .about-title{
        grid-area: title;
        padding: 20px 40px 40px 40px;
        align-items: center;  
        justify-content: center;     
        text-align: center;
        min-height: 120px;           
        place-self: center;
        text-align: center;
        
    }

    .about-p1 { 
        grid-area: p1; 
    }
    .about-p2 { 
        grid-area: p2; 
    }

    .about-p1,
    .about-p2{
        padding: 25px;
    }

    .about-dock{
        gap: 10px;
        bottom: 15px;
    }

    .about-dock a{
        font-size: 14px;
        padding: 6px 10px;
    }

    .about-dock .dock-text{
        display: none;
    }

    .about-dock .dock-icon{
        display: inline-block;
        font-size: 24px;
    }
}

@media (max-width: 480px){

    .about-title{
        font-size: 28px;
        letter-spacing: 2px;
    }

    .about-p1,
    .about-p2{
        font-size: 14px;
    }

    .about-dock{
        width: 90%;
        justify-content: space-around;
    }
}

/*-----------------------------------------------STACK PAGE-----------------------------------------------*/




.stack-dock{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: clamp(20px, 8vw, 100px);
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;

}
     
.stack-dock a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.stack-dock a.active{
    color:#b7322a;
    font-weight: 800;

}


.stack-dock a:hover{
    color:#ffd53c;
    transform: scale(1.1);
    
}
.stack-dock .dock-icon{
    display: none;
}

